body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
header {
    font-size: 40px;
    text-align: center;
}
article { 
    font-size: 20px;
    text-align: center;
    color: black;
}
nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.ryan {

    
}
h2 {
    text-align: center;
    color: gold;
}